* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgrgb(250, 244, 244);
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 100%;
  padding: 0;
}
.icon {
  font-size: 1.6rem;
  cursor: pointer;
}
.section {
  padding: 0 100px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
button,
input {
  border: none;
  outline: none;
}
/************************
  COLLAPSIBLE
 ************************/
.collapsible-enter-active,
.collapsible-leave-active {
  transition: all 0.5s linear;
  transition: max-height 0.5s;
  max-height: 800px;
  overflow: hidden;
}
.collapsible-enter,
.collapsible-leave-to {
  max-height: 0;
  opacity: 0.5;
}

/************************
   FADE
  ************************/
.fade-enter-active,
.fade-leave-active,
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-active,
.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

/************************
   SLIDE-FADE
  ************************/
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-25px);
  opacity: 0;
}

/************************
   SLIDE-LEFT
   SLIDE-RIGHT
  ************************/
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  overflow: hidden !important;
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-left-enter {
  opacity: 0;
  transform: translate(25%, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate(-25%, 0);
}

.slide-right-enter {
  opacity: 0;
  transform: translate(-25%, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate(25%, 0);
}

/************************
   BOUNCE
  ************************/
.bounce-enter-active {
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}

@keyframes bounce-in {
  0% {
  transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

@media screen and (max-width: 400px) {
  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
